.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}

.mobile-header img {
  height: 6vh;
}

@media (min-width: 650px) and (max-width: 1199px) {
  .mobile-header {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile-header {
    display: none;
  }
}