.searchbar-container {
  margin: 0 auto;
  text-align: center;
}

.searchbar-container input {
  width: 90%;
  height: 5vh;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 20px 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.137);
}

@media (min-width: 1000px) {
  .searchbar-container input {
    width: 50%;
  }
}