.sidebar {
  background-color: #B6004C;
  height: 100vh;
  width: 65%;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.active {
  transform: translateX(0);
}

.burger {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 6vh;
  background: none;
  border: none;
  color: #B6004C;
  cursor: pointer;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.384);
  z-index: 1000;
}

.sidebar .logo img {
  height: 7vh;
  background-color: #ffff;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

.sidebar .sidebar-tabs {
  font-size: 23px;
  font-weight: bold;
  list-style-type: none;
  line-height: 6vh;
}

.sidebar .sidebar-tabs {
  list-style-type: none;
}

.sidebar .sidebar-tabs .parent-list-item {
  border-radius: 4px;
  line-height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s;
  padding: 10px;
  color: #ffff;
}

.sidebar .sidebar-tabs .parent-item-container {
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebar-tabs .parent-list-item a {
  display: block;
  color: #ffff;
  text-decoration: none;
}

.sidebar .sidebar-tabs .parent-list-item:hover {
  background-color: #c51e64;
}

.sidebar .sidebar-tabs .submenu {
  list-style-type: none;
}

.sidebar .sidebar-tabs .child-list-item a {
  font-size: 15px;
  line-height: 20px;
}

@media (min-width: 650px) and (max-width: 1299px) {
  .sidebar {
    width: 30%;
    transform: translateX(0);
  }
  .burger {
    display: none;
  }
}

@media (min-width: 1300px) {
  .sidebar {
    width: 16%;
    transform: translateX(0);
  }
  .burger {
    display: none;
  }
}