section {
  margin: 0 0 50px 0;
}

/* facilities */
.facilities-list {
  margin: 30px 0;
  text-align: start;
  width: 100%;
}

.facilities-list-items {
  width: 90%;
  margin: 20px 20px;
}

.facilities-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  height: auto;
}

.facilities-image-grid img {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.171);
}

/* courses */
.courses-offered {
  margin: 0 auto;
  text-align: center;
}

.courses-offered .course-item,
.courses-offered .course-item p {
  margin: 20px 0;
}

.courses-offered .course-item img {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 30px 0;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.123);
}

/* footer */
.homeFooter {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}

.footer-link:hover {
  text-decoration: underline;
}

/* TABLET SCREEN */
/* @media (min-width: 650px) and (max-width: 1299px) {

} */

/* DESKTOP SCREEN */
@media (min-width: 1300px) {
  .facilities-list-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }

  .facilities-list-items {
    width: 50%;
  }

  .facilities-image-grid {
    width: 45%;
  }

  .courses-offered .course-item img {
    width: 80% !important;
  }
}