/* HEADER ON TOP OF COURSES TABLE */
.courses-header {
  margin-bottom: 20px;
}

/* MAIN COURSES TABLE */
.courses-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 17px;
  color: #333;
}

/* COURSES TABLE HEADER */
.courses-table-header th {
  background-color: #7B003A;
  height: 50px;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

/* COURSES TABLE BODY ROW */
.courses-table-body tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

/* COURSEES TABLE BODY ROW HOVER EFFECT */
.courses-table-body tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

/* COURSES TABLE BODY ROW ITEM */
.courses-table-body td {
  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* the space course table title header & course title is taking */
.courses-table-header th:nth-child(1),
.courses-table-body td:nth-child(1) {
  width: 60%;
}

/* the space year of entry is taking */
.courses-table-header th:nth-child(2),
.courses-table-body td:nth-child(2) {
  width: 30%;
}

/* the space that collapse table button is taking */
.courses-table-header th:nth-child(3),
.courses-table-body td:nth-child(3) {
  width: 10%;
}

.courses-table-row .row-dropdown span {
  font-size: 20px;
  color: #555;
  transition: transform 0.3s;
}

/* rotate the collape button when hovered (180 degrees) */
.courses-table-row .row-dropdown span:hover {
  transform: rotate(180deg);
}

/* COURSES TABLE EXPANDABLE CHILD */
.courses-table-child-row td {
  padding: 15px;
  border-top: 1px solid #ddd;
  text-align: left;
}

/* DESKTOP */
@media (min-width: 1300px) {
  .courses-table {
    table-layout: fixed;
  }
}