section {
  margin: 0px 0 50px 0;
}

.service-intro-p {
  margin: 0 0 30px 0;
}

.service-main-image {
  margin: 0 auto;
  text-align: center;
}

.service-main-image img {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.171);
}

.our-services-container {
  margin: 0 0 20px 0;
}

.our-services-container article {
  margin: 0 0 20px 10px;
}

.why-us-container h4 {
  margin: 0 10px;
}

.why-us-container .items-container {
  margin: 0 0 30px 0;
}

@media (min-width: 1300px) {
  .service-main-image {
    width: 80% !important;
  }
}